@import url(fonts.css);

html, body { height: 100%; }
body {
  margin: 0px;
  padding: 0px;
}
#navbar {
  padding: 30px;
  margin: 0px;
  text-align: center;
  background: #0044cc;
  font-family: Comfortaa, sans-serif;
  display: flex;
  gap: 10px;
  position: sticky;
}
#navbar a {
  color: white;
  font-size: 30px;
  font-size: 17px;
  text-decoration: none;
}

#welcome {
  background: url(../images/welcome.jpg);
  background-position-y: 26%;
  background-position-x: center;
  background-size: cover;
  /* background-size: 130% auto; */
  background-repeat: no-repeat;
  height: 60%;
}

#welcome h1 {
  position: relative;
  top: 30px;
  left: 30px;
  font-family: Comfortaa, sans-serif;
  margin: 0px;
  color: rgba(255, 255, 255, 0.9);
}
#welcome p {
  margin: 0px;
  position: relative;
  display: inline;
  top: 40vh;
  left: calc(100% - 300px);
  font-family: Comfortaa, sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
