@import url(fonts.css);
:root {
  --dim: rgba(0, 0, 0, 0.5);
  --dim-light: rgba(0, 0, 0, 0.1);
  --dim-background: linear-gradient(var(--dim), var(--dim));
  --dim-drop: linear-gradient(
    transparent 0%,
    transparent 30%,
    var(--dim) 35%,
    var(--dim) 100%
  );
  --light: #f9f9f9;
}
html,
body {
  margin: 0px;
}
body * {
  font-family: Comfortaa, sans-serif;
}

/* Navigation Bar */
#navbar {
  list-style-type: none;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 16px 10vw;
  text-decoration: none;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#navbar a,
#navbar a:visited {
  text-decoration: none;
  color: black;
}

#navbar > nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hamburger,
.menu,
#hm_label {
  display: none;
}

/* Header part, the one with a background photo */
header section {
  background: var(--dim-background), url("../header.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
}
.home_header section {
  height: 705px;
}

.title,
#title {
  position: absolute;
  top: 190px;
  left: 100px;
  color: white;
}
#title {
  top: 380px;
}

.title h1,
#title h1 {
  font-size: 40px;
  font-weight: 600;
}

.title p,
#title p {
  font-size: 24px;
  width: 69%;
}

/* Main body of the site */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin: 120px 0px;
}

main p,
main li {
  font-size: 16px;
  line-height: 24px;
}
main li {
  font-weight: bold;
}
main section {
  padding: 24px 120px;
}

.info {
  display: flex;
}
.info > * {
  width: 50%;
}
.dimmer {
  background: var(--light);
}
h2 {
  font-size: 40px;
  font-weight: 600;
}

.certs {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.certs img {
  width: 187px;
}

/* certificates page selector */

@keyframes dim_back {
  from {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes emerge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#certificates {
  display: flex;
  flex-wrap: wrap;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6,
#img7,
#img8,
#img9 {
  display: none;
}

#img1:checked,
#img2:checked,
#img3:checked,
#img4:checked,
#img5:checked,
#img6:checked,
#img7:checked,
#img8:checked,
#img9:checked {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  appearance: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  animation: dim_back 0.3s;
}

#img1:checked ~ #certificates > label[for="img1"] > img,
#img2:checked ~ #certificates > label[for="img2"] > img,
#img3:checked ~ #certificates > label[for="img3"] > img,
#img4:checked ~ #certificates > label[for="img4"] > img,
#img5:checked ~ #certificates > label[for="img5"] > img,
#img6:checked ~ #certificates > label[for="img6"] > img,
#img7:checked ~ #certificates > label[for="img7"] > img,
#img8:checked ~ #certificates > label[for="img8"] > img,
#img9:checked ~ #certificates > label[for="img9"] > img {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  object-fit: contain;
  z-index: 3;
  animation: emerge 0.3s;
}

/* Tables in other pages */
#tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding: 0vw 2vw;
}
.tables {
  display: flex;
  flex-direction: column;
  width: 90vw;
  overflow: scroll;
  border-radius: 11px;
  border: 1px solid var(--dim-light);
}
#tables h2 {
  width: 90vw;
}
table {
  text-align: center;
  /* box-shadow: inset 0px 0px 5px var(--dim-light); */
  border-radius: 10px;
  background: white;
  border: 1px solid var(--dim-light);
}
tr:nth-child(even) {
  background: var(--light);
}
td,
th {
  padding: 1rem;
}

tr {
  border-bottom: 1px solid var(--dim-light);
  box-sizing: border-box;
}

/* footer of the page */
footer {
  background: black;
  color: white;
  padding: 1rem;
  font-size: 10px;
}
footer ul {
  margin: 0px;
  padding: 0px;
}
footer li {
  list-style-type: none;
  margin: 0.5rem;
}

footer a,
footer a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes dim_menu {
  from {
    display: block;
    background: var(--dim-drop);
    opacity: 0;
  }
  to {
    display: block;
    background: var(--dim-drop);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  #navbar {
    padding: 16px 3vw;
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .info > * {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #navbar > nav {
    display: none;
  }
  #hamburger {
    display: none;
    width: 2rem;
    transition:
      width 0.3s,
      transform 0.3s;
  }
  #hamburger:checked {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    appearance: none;
    transition:
      width 0.3s,
      transform 0.3s,
      opacity 0.3s;
    z-index: -3;
    animation: dim_menu 0.4s forwards;
    margin: 0px;
  }
  #hm_label {
    display: block;
    width: 2rem;
    transition:
      width 0.3s,
      opacity 0.3s;
  }
  #hamburger:checked ~ #hm_label {
    opacity: 0;
    width: 0;
    transition:
      width 0.3s,
      opacity 0.3s;
  }
  .menu {
    position: absolute;
    top: 94px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 1rem 0rem;
    transform: translateY(-101vw);
    transition: transform 0.4s;
    width: 100vw;
    z-index: -2;
  }
  #hamburger:checked ~ .menu {
    transform: translateY(0vw);
    transition: transform 0.4s box-shadow 0.5s;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }
  .menu a {
    margin: 1rem;
  }
  #certificates,
  .certs {
    justify-content: center;
  }
}
@media (max-width: 640px) {
  #title,
  .title {
    left: 5vw;
  }
  .info,
  .certs,
  main section {
    padding: 24px 5vw;
  }
}
