@import url(fonts.css);
:root {
  --dim: rgba(0, 0, 0, 0.5);
  --dim-light: rgba(0, 0, 0, 0.1);
  --dim-background: linear-gradient(var(--dim), var(--dim));
  --dim-drop: linear-gradient(
    transparent 0%,
    transparent 20%,
    var(--dim) 25%,
    var(--dim) 100%
  );
  --light: #f9f9f9;
}
html,
body {
  margin: 0px;
}
body * {
  font-family: Comfortaa, sans-serif;
}

/* Navigation Bar */
#navbar {
  list-style-type: none;
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 16px 10vw;
  text-decoration: none;
  position: sticky;
  top: 0px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#navbar a,
#navbar a:visited {
  text-decoration: none;
  color: black;
}

#navbar > nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

#hamburger,
.menu,
#hm_label {
  display: none;
}

/* Header part, the one with a background photo */
header section {
  background: var(--dim-background), url("../header.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
}
.home_header section {
  height: 705px;
}

.title,
#title {
  position: absolute;
  top: 190px;
  left: 100px;
  color: white;
}
#title {
  top: 380px;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
#title > *,
#title h1 {
  display: inline-block;
}

#title > img {
  width: 70%;
  height: 100%;
  max-height: 20rem;
  object-fit: contain;
}

.title h1,
#title h1 {
  font-size: 40px;
  font-weight: 600;
}

.title p,
#title p {
  font-size: 24px;
  width: 69%;
}

/* Main body of the site */
main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 120px 0px;
}

main p,
main li {
  font-size: 16px;
  line-height: 24px;
}
main li {
  font-weight: bold;
}
main section {
  padding: 24px 120px;
}

.info {
  display: flex;
}
.info > * {
  width: 50%;
}
.dimmer {
  background: var(--light);
}
h2 {
  font-size: 40px;
  font-weight: 600;
}

.certs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: calc(100% - 240px);
  /* justify-content: center; */
}

.certs .document {
  width: 187px;
  box-shadow: 0px 0px 1px var(--dim);
}

.certs a {
  position: relative;
  bottom: calc(187px * 1.4);
  left: 156px;
  background: var(--dim);
  padding: 5px;
  border-radius: 5px;
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.certs a:hover {
  opacity: 1;
  transition: opacity 0.2s;
}

.certs a > img {
  width: 1.3rem;
  position: relative;
}

/* certificates page selector */

@keyframes dim_back {
  from {
    display: block;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}

@keyframes emerge {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#certificates {
  display: flex;
  flex-wrap: wrap;
}

#imgl,
#img1,
#img2,
#img3,
#img4 {
  display: none;
}

#imgl:checked,
#img1:checked,
#img2:checked,
#img3:checked,
#img4:checked {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  appearance: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  animation: dim_back 0.3s;
}

.img {
  overflow: hidden;
  width: 187px;
  height: calc(187px * 1.4);
  margin: 0.3rem;
  gap: 1rem;
  box-shadow: 0px 0px 2px var(--dim);
  border-radius: 5px;
  border: 1px solid var(--dim-light);
}

#imgl:checked ~ #certificates > label[for="imgl"] > a,
#img1:checked ~ #certificates > label[for="img1"] > a,
#img2:checked ~ #certificates > label[for="img2"] > a,
#img3:checked ~ #certificates > label[for="img3"] > a,
#img4:checked ~ #certificates > label[for="img4"] > a {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5vh;
  padding: 1vh;
  box-sizing: border-box;
  top: 5vh;
  left: 90vw;
  /* background: red; */
  z-index: 3;
}
#imgl:checked ~ #certificates > label[for="imgl"] > .img,
#img1:checked ~ #certificates > label[for="img1"] > .img,
#img2:checked ~ #certificates > label[for="img2"] > .img,
#img3:checked ~ #certificates > label[for="img3"] > .img,
#img4:checked ~ #certificates > label[for="img4"] > .img {
  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  object-fit: contain;
  overflow: scroll;
  z-index: 3;
  animation: emerge 0.3s;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

#imgl:checked ~ #certificates > label[for="imgl"] .document,
#img1:checked ~ #certificates > label[for="img1"] .document,
#img2:checked ~ #certificates > label[for="img2"] .document,
#img3:checked ~ #certificates > label[for="img3"] .document,
#img4:checked ~ #certificates > label[for="img4"] .document {
  box-shadow: 0px 0px 3px var(--dim);
  height: 90vh;
  width: calc(90vh / 1.4);
  background: white;
}
@media (max-width: 640px) {
  #imgl:checked ~ #certificates > label[for="imgl"] .document,
  #img1:checked ~ #certificates > label[for="img1"] .document,
  #img2:checked ~ #certificates > label[for="img2"] .document,
  #img3:checked ~ #certificates > label[for="img3"] .document,
  #img4:checked ~ #certificates > label[for="img4"] .document {
    height: calc(90vw * 1.4);
    width: 90vw;
  }
}

/* Tables in other pages */
#tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
  padding: 0vw 2vw;
  scrollbar-width: 0px;
}
.tables {
  display: flex;
  flex-direction: column;
  width: 90vw;
  overflow: scroll;
  border-radius: 11px;
  border: 1px solid var(--dim-light);
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}
#tables h2 {
  width: 90vw;
}
table {
  text-align: center;
  border-radius: 10px;
  background: white;
  border: 1px solid var(--dim-light);
}
tr:nth-child(even) {
  background: var(--light);
}
td,
th {
  padding: 1rem;
}

tr {
  border-bottom: 1px solid var(--dim-light);
  box-sizing: border-box;
}

/* adresses in the contacts page */
dl {
  margin: 12px 0px;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0.5rem 0px;
}
.contacts {
  border-radius: 1.3rem;
  padding: 0.5rem 1rem;
  color: white;
  display: inline-block;
}
#contact_face {
  background: linear-gradient(limegreen, green);
  border: 1px solid green;
}
#contact_mail {
  background: linear-gradient(red, darkred);
  border: 1px solid darkred;
}
.contacts nav::before,
.contacts a::before,
#contact_face nav::before,
#contact_face a::before {
  background-size: cover;
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  position: relative;
  top: 0.2rem;
}
#contact_face nav::before {
  background-image: url(../images/contact.svg);
}
#contact_face a::before {
  background-image: url("../images/phone.svg");
}
#contact_mail a::before {
  background-image: url("../images/email.svg");
}
.contacts > *,
#contact_face > * {
  display: inline-block;
  color: white;
  /* vertical-align: super; */
  margin-top: -4px;
}

/* map in the contacts page */
.map {
  display: flex;
  justify-content: center;
  width: calc(100vw - 240px);
}

.map iframe {
  border-radius: 10px;
  border: 2px solid var(--dim-light);
}

/* footer of the page */
footer {
  background: black;
  color: white;
  padding: 1rem;
  font-size: 10px;
}
footer ul {
  margin: 0px;
  padding: 0px;
}
footer li {
  list-style-type: none;
  margin: 0.5rem;
}

footer a,
footer a:visited {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes dim_menu {
  from {
    display: block;
    background: var(--dim-drop);
    opacity: 0;
    height: 150vh;
  }
  to {
    display: block;
    background: var(--dim-drop);
    opacity: 1;
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  #navbar {
    padding: 16px 3vw;
  }
  .info {
    flex-direction: column;
    align-items: flex-start;
  }
  .info > * {
    width: 100%;
  }
}
@media (max-width: 768px) {
  #navbar > nav {
    display: none;
  }
  #hamburger {
    display: none;
    width: 2rem;
    opacity: 0;
    transition:
      width 0.3s,
      transform 0.3s,
      opacity 0.3s;
  }
  #hamburger:checked {
    display: block;
    position: fixed;
    /* top: 0; */
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    appearance: none;
    opacity: 0;
    transition:
      width 0.3s,
      transform 0.3s,
      opacity 0.3s;
    z-index: -3;
    animation: dim_menu 0.4s forwards;
    margin: 0px;
  }
  #hm_label {
    display: block;
    width: 2rem;
    transition:
      width 0.3s,
      opacity 0.3s;
  }
  #hamburger:checked ~ #hm_label {
    opacity: 0;
    width: 0;
    transition:
      width 0.3s,
      opacity 0.3s;
  }
  .menu {
    position: absolute;
    top: 94px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 1rem 0rem;
    transform: translateY(-101vw);
    transition: transform 0.4s;
    width: 100vw;
    z-index: -2;
  }
  #hamburger:checked ~ .menu {
    transform: translateY(0vw);
    transition: transform 0.4s box-shadow 0.5s;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }
  .menu a {
    margin: 1rem;
  }
  #certificates,
  .certs {
    justify-content: center;
    width: 90vw;
  }
}
@media (max-width: 640px) {
  #title,
  .title {
    top: 11rem;
    gap: unset;
    align-items: unset;
    left: 5vw;
    flex-direction: column;
  }
  #title h1 {
    font-size: 2.2rem;
  }
  main {
    margin: 60px 0px;
    gap: 60px;
  }
  .info,
  .certs,
  main section {
    padding: 24px 5vw;
  }
  .map {
    width: 90vw;
  }
  /* dl {
     margin: 12px 0px;
     } */
}
